In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from CinePred.pipeline import import_clean_df
from CinePred.data.featuring import *

In [3]:
from CinePred.new_model import preproc

In [4]:
df = import_data(link="../raw_data/IMDb_movies.csv")

In [5]:
df = preproc(df,path="../raw_data/cat_acteur.csv")

In [8]:
df.sort_values('year', ascending = False)

,year,duration,budget,worlwide_gross_income,shifted,date_sin,date_cos,Music,Sport,Film-Noir,...,Drama,Biography,Sci-Fi,Comedy,Western,Family,Musical,Nb_actuals_movie_directors_company,Nb_actuals_movie_directors,Nb_actuals_movie_directors_writer
10696,2020,94,7.839199,7.016503,0,-1.000000e+00,-1.836970e-16,0,0,0,...,0,0,1,0,0,0,0,2,2,1
8700,2020,95,7.490245,5.974358,3,-8.660254e-01,-5.000000e-01,0,0,0,...,1,0,0,0,0,0,0,1,7,6
6175,2020,116,7.092305,7.136134,0,1.000000e+00,6.123234e-17,1,0,0,...,1,1,0,0,0,0,0,3,4,1
1512,2020,93,6.141828,3.574841,0,8.660254e-01,-5.000000e-01,0,0,0,...,0,0,0,1,0,0,0,9,1,1
11080,2020,109,7.939981,8.305047,1,8.660254e-01,5.000000e-01,0,0,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,1923,82,6.725294,4.050496,0,1.224647e-16,-1.000000e+00,0,0,0,...,1,0,0,0,0,0,0,2,2,2
497,1921,107,5.605531,3.630631,0,-2.449294e-16,1.000000e+00,0,0,0,...,1,0,0,0,0,0,0,1,1,1
6009,1921,150,7.063220,6.963016,0,8.660254e-01,-5.000000e-01,0,0,0,...,1,0,0,0,0,0,0,1,1,1
3287,1921,68,6.558070,4.430011,0,-5.000000e-01,8.660254e-01,0,0,0,...,1,0,0,1,0,1,0,1,1,1
313,1920,76,5.367225,3.945025,0,8.660254e-01,5.000000e-01,0,0,0,...,0,0,0,0,0,0,0,1,1,1

In [ ]:
import requests

In [ ]:
req = requests.get(f"https://www.myapifilms.com/imdb/idIMDB?idIMDB=tt4154796&token=0d909bb9-91e5-4d5a-b74d-5b0f1872a2ff").json()

In [ ]:
req = requests.get(f"https://www.myapifilms.com/imdb/idIMDB?idIMDB=tt4154796&token=0d909bb9-91e5-4d5a-b74d-5b0f1872a2ff").json()

In [ ]:
list_url = []
for i in range(1000):
    print(i)
    imd = df['imdb_title_id'].iloc[i]
    try :
        req = requests.get(f"https://www.myapifilms.com/imdb/idIMDB?idIMDB={imd}&token=0d909bb9-91e5-4d5a-b74d-5b0f1872a2ff").json()
        list_url.append((imd,req['data']['movies'][0]['urlPoster']))
    except : 
        continue

In [ ]:
poster_df = pd.DataFrame(list_url, columns=['imdb_title_id','poster url'])

In [ ]:
# poster_df.to_csv('../raw_data/url_poster.csv')

In [ ]:
poster_df.iloc[1]['poster url']

In [ ]:
movie_dic = {}
for i in range(5000):

    movie_dic[df['title'].iloc[0:df.shape[0]][i]] = {'Actors' : df['actors'].iloc[0:df.shape[0]][i],
                                                        'Country' : df['country'].iloc[0:df.shape[0]][i],
                                                        'imdb_title_id' : df['imdb_title_id'].iloc[0:df.shape[0]][i],
#                                                      'Income' : np.round(10**(df['worlwide_gross_income'].iloc[0:df.shape[0]][i]),2)
                                                    #  'Numbers of blockbuster' : df['shifted'].iloc[0:df.shape[0]][i]
                                                     }

    # en dehors du form movie_dic['title'] = movie_dic.keys

In [ ]:
movie_dic['Name_of_movies'] = movie_dic

In [ ]:
actors_dic = {"Movies" : df[df['actors'].str.contains('Leonardo DiCaprio')]['title'].values}

In [ ]:
 movie_list = df[df['actors'].str.contains('Leonardo DiCaprio')]['title'].values

In [ ]:
actor_dic2 =  {}
index = np.arange(0,len(movie_list))

for movie,indexs in zip(movie_list,index):
    
    tmpy_dic = {}
    tmpy_dic = {indexs : movie}
    actor_dic2.update(tmpy_dic)

In [ ]:
actor_dic2

In [ ]:
df[df['actors'].str.contains('Leonardo DiCaprio')]['title'].values.tolist()

In [ ]:
np.arange(0,len(movie_list)).tolist()

In [ ]:
search_actors('Brad Pitt')

In [ ]:
from translate import Translator

In [ ]:
translator= Translator(to_lang="en", from_lang="ita")
translation = translator.translate("C'era una volta a... Hollywood")
translation

In [ ]:
!pip install deep-translator

In [ ]:
from deep_translator import GoogleTranslator

In [ ]:
translated = GoogleTranslator(source='auto', target='en').translate("") 
translated

In [ ]:
def search_actors(name):
    movie_list = df[df['actors'].str.contains(name)]['title'].values
    actor_dic2 =  {}
    index = np.arange(0,len(movie_list))

    for movie,indexs in zip(movie_list,index):
        tmpy_dic = {}
        tmpy_dic = {indexs : GoogleTranslator(source='auto', target='en').translate(movie)}
        actor_dic2.update(tmpy_dic)
    return actor_dic2

In [ ]:
search_actors('Brad Pitt')