In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from CinePred.data.featuring import *
from CinePred.data.preprocessing import *
from CinePred.data.importing import *

/home/oscartouze/.pyenv/versions/3.8.12/envs/cinepred/lib/python3.8/site-packages/cpi/__init__.py:46: StaleDataWarning: CPI data is out of date. To accurately inflate to today's dollars, you must run `cpi.update()`.
  warnings.warn(StaleDataWarning())

In [3]:
print('----- import Data -----')
df = import_data("../raw_data/IMDb movies.csv")

print('----- keep columns -----')
df = keep_columns(df,
                  column_names=[
                      'imdb_title_id', 'title', 'year', 'date_published',
                      'genre', 'duration', 'country', 'director', 'writer',
                      'production_company', 'actors', 'budget',
                      'worlwide_gross_income'
                  ])

print('----- remove na rows -----')
df = remove_na_rows(df)

print('----- convert budget -----')
df['budget'] = convert_budget_column(df[['budget']])

# print('----- reduce column type -----')
# df['actors'] = reduce_column_type(df[['actors']], nb_max=3)

print('----- convert income column -----')
df['worlwide_gross_income'] = convert_income(df[['worlwide_gross_income']])

print('----- convert to int -----')
df['year'] = convert_to_int(df[['year']])
df['duration'] = convert_to_int(df[['duration']])

print('----- convert to date -----')
df['date_published'] = convert_to_date(df[['date_published']])

print('----- reset index -----')
df = reset_index(df)

# print('----- log transform -----')
# df['worlwide_gross_income'] = log_transformation(
#     df[['worlwide_gross_income']])

# print('----- data_shape -----')

----- import Data -----

/tmp/ipykernel_2785/3978816577.py:2: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  df = import_data("../raw_data/IMDb movies.csv")

----- keep columns -----
----- remove na rows -----
----- convert budget -----
----- convert income column -----
----- convert to int -----
----- convert to date -----
----- reset index -----

In [8]:
add_success_movies_per_actors(df)

In [10]:
Add_Ones(df)

In [12]:
Add_number_of_movies_per_directors_in_Timeline(df)

In [13]:
 Add_number_of_movies_per_prod_company_in_Timeline(df)

In [14]:
Add_number_of_movies_per_writer_in_Timeline(df)

In [15]:
Remove_Ones(df)

In [17]:
df = df.sort_values(['year','budget'])

In [18]:
df

,imdb_title_id,title,year,date_published,genre,duration,country,director,writer,production_company,actors,budget,worlwide_gross_income,shifted,Nb_actuals_movie_directors,Nb_actuals_movie_directors_company,Nb_actuals_movie_directors_writer
0,tt0010323,Il gabinetto del dottor Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...",18000,8811,0,1,1,1
1,tt0011440,Markens grøde,1921,1921-12-02,Drama,107,Norway,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen, Ragna Wettergree...",27887,4272,0,1,1,1
3,tt0012349,Il monello,1921,1923-11-26,"Comedy, Drama, Family",68,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Carl Miller, Edna Purviance, Jackie Coogan, Ch...",250000,26916,0,1,1,1
2,tt0012190,I quattro cavalieri dell'Apocalisse,1921,1923-04-16,"Drama, Romance, War",150,USA,Rex Ingram,"Vicente Blasco Ibáñez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard, Bridgetta Clar...",800000,9183673,0,1,1,1
4,tt0014624,La donna di Parigi,1923,1927-06-06,"Drama, Romance",82,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Clarence Geldart, Carl Miller,...",351000,11233,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11980,tt1502397,Bad Boys for Life,2020,2020-02-20,"Action, Comedy, Crime",124,"USA, Mexico","Adil El Arbi, Bilall Fallah","Peter Craig, Joe Carnahan",Columbia Pictures,"Will Smith, Martin Lawrence, Vanessa Hudgens, ...",90000000,424617855,5,2,331,1
12014,tt6587640,Trolls World Tour,2020,2020-04-10,"Animation, Adventure, Comedy",90,USA,"Walt Dohrn, David P. Smith","Jonathan Aibel, Glenn Berger",DreamWorks Animation,"Anna Kendrick, Justin Timberlake, Rachel Bloom...",90000000,14078268,0,1,29,7
11982,tt7504726,Il richiamo della foresta,2020,2020-02-20,"Adventure, Drama, Family",100,"Canada, USA",Chris Sanders,"Michael Green, Jack London",20th Century Studios,"Harrison Ford, Omar Sy, Cara Gee, Dan Stevens,...",135000000,107604626,2,1,1,1
11968,tt6673612,Dolittle,2020,2020-01-30,"Adventure, Comedy, Family",101,"USA, China, UK, Japan",Stephen Gaghan,"Stephen Gaghan, Dan Gregor",Universal Pictures,"Robert Downey Jr., Antonio Banderas, Michael S...",175000000,245891166,11,4,352,1
11979,tt6723592,Tenet,2020,2020-08-26,"Action, Sci-Fi",150,"UK, USA",Christopher Nolan,Christopher Nolan,Syncopy,"Elizabeth Debicki, Robert Pattinson, John Davi...",205000000,53600000,1,11,2,4

In [56]:
movie_dic = {}
liste = []
movie_dic['Movie title'] = df['title'][0:1]
movie_dic['Movie title']['actors'] = df['actors'][0:1]

In [44]:
movie_dic['Movie title'].keys()

Index([0, 'actors'], dtype='object')

In [139]:
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Washington"}

my_dict1 = {"firstName" : "Nick", "lastName": "Price"}

In [140]:
my_dict = {"username": "XYZ", "email": "xyz@gmail.com", "location":"Washington"}

my_dict1 = {"firstName" : "Nick", "lastName": "Price"}

my_dict["name"] = my_dict1

print(my_dict)

{'username': 'XYZ', 'email': 'xyz@gmail.com', 'location': 'Washington', 'name': {'firstName': 'Nick', 'lastName': 'Price'}}

In [148]:
dict("name", df['title'].iloc[0:1])

TypeError: dict expected at most 1 argument, got 2

In [160]:
dict(Name=df['title'].iloc[0:3].values[0])

{'Name': 'Il gabinetto del dottor CaligariIl gabinetto del dottor Caligari'}

In [154]:

df['title'].iloc[0:1].values

array(['Il gabinetto del dottor CaligariIl gabinetto del dottor Caligari'],
      dtype=object)

In [182]:
df['title'].iloc[0:df.shape[0]][0]

'Il gabinetto del dottor CaligariIl gabinetto del dottor Caligari'

In [184]:
{df['title'].iloc[0:df.shape[0]][0]: {'acteurs' : df['actors'].iloc[0:df.shape[0]][0]}}

{'Il gabinetto del dottor CaligariIl gabinetto del dottor Caligari': {'acteurs': 'Werner Krauss, Conrad Veidt, Friedrich Feher, Lil Dagover, Hans Heinrich von Twardowski, Rudolf Lettinger'}}

In [195]:
movie_dic = {}
for i in range(5):
    
    movie_dic[df['title'].iloc[0:df.shape[0]][i]] = {'acteurs' : df['actors'].iloc[0:df.shape[0]][i]}

In [196]:
movie_dic

{'Il gabinetto del dottor CaligariIl gabinetto del dottor Caligari': {'acteurs': 'Werner Krauss, Conrad Veidt, Friedrich Feher, Lil Dagover, Hans Heinrich von Twardowski, Rudolf Lettinger'},
 'Markens grøde': {'acteurs': 'Amund Rydland, Karen Poulsen, Ragna Wettergreen, Gunnar Sommerfeldt, Inge Sommerfeldt, Almar Bjoernefjell, Sigurd Berg Bruland, Siljusson av Terna, Sivert Eliassen, Ernst Vaumund, Rolf Christensen, Sigurd Eliasson, Fordel Johnsen, Sigurd Køvatn, Hans A. Meyer'},
 "I quattro cavalieri dell'Apocalisse": {'acteurs': 'Pomeroy Cannon, Josef Swickard, Bridgetta Clark, Rudolph Valentino, Virginia Warwick, Alan Hale, Mabel Van Buren, Stuart Holmes, John St. Polis, Alice Terry, Mark Fenton, Derek Ghent, Nigel De Brulier, Bowditch M. Turner, Edward Connelly'},
 'Il monello': {'acteurs': 'Carl Miller, Edna Purviance, Jackie Coogan, Charles Chaplin'},
 'La donna di Parigi': {'acteurs': 'Edna Purviance, Clarence Geldart, Carl Miller, Lydia Knott, Charles K. French, Adolphe Menjou, Betty Morrissey, Malvina Polo'}}

In [198]:
mmmm = import_data('../raw_data/IMDb movies.csv')
mmmm

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [199]:
preprocess_example('../raw_data/IMDb movies.csv')

----- import Data -----
----- keep columns -----
----- remove na rows -----
----- convert budget -----
----- reduce column type -----
----- convert income column -----
----- convert to int -----
----- convert to date -----
----- log transform -----
----- data_shape -----

,imdb_title_id,title,year,date_published,genre,duration,country,director,writer,production_company,actors,budget,worlwide_gross_income
0,tt0010323,Il gabinetto del dottor Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt",18000,3.945025
1,tt0011440,Markens grøde,1921,1921-12-02,Drama,107,Norway,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen",27887,3.630631
2,tt0012190,I quattro cavalieri dell'Apocalisse,1921,1923-04-16,"Drama, Romance, War",150,USA,Rex Ingram,"Vicente Blasco Ibáñez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard",800000,6.963016
3,tt0012349,Il monello,1921,1923-11-26,"Comedy, Drama, Family",68,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Carl Miller, Edna Purviance",250000,4.430011
4,tt0014624,La donna di Parigi,1923,1927-06-06,"Drama, Romance",82,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Clarence Geldart",351000,4.050496
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12565,tt9878242,Subharathri,2019,2019-07-06,"Drama, Romance",130,India,Vyasan K.P.,"Vyasan K.P., Vyasan K.P.",Abaam Movies,"Dileep, Anu Sithara",402722,5.025027
12566,tt9886872,Munthiri Monchan,2019,2019-12-06,"Comedy, Romance",130,India,Vijith Nambiar,"Manu Gopal, Meharali Poilungal Ismail",Vishvas Movies,"Manesh Krishnan, Gopika Anil",402722,3.409595
12567,tt9894394,Upin & Ipin: Keris Siamang Tunggal,2019,2019-03-21,Animation,100,Malaysia,"Adam Bin Amiruddin, Syed Nurfaiz Khalid bin Sy...","Hjh. Ainon Ariff, Nur Naquyah bt Burhanuddin",Les' Copaque Production,"Asyiela Putri Bt Azhar, Mohd Amir Asyraf Bin ...",4729812,4.923539
12568,tt9900782,Kaithi,2019,2019-10-25,"Action, Thriller",145,India,Lokesh Kanagaraj,"Lokesh Kanagaraj, Pon Parthiban",Dream Warrior Pictures,"Karthi, Narain",3221779,5.719382
12569,tt9905412,Ottam,2019,2019-03-08,Drama,120,India,Zam,Rajesh k Narayan,Thomas Thiruvalla Films,"Nandu Anand, Roshan Ullas",53696,3.680426