## Import

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns

from CinePred.data.importing import import_data
from CinePred.data.preprocessing import *
from CinePred.data.featuring import *

from cpi import *
import datetime

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
df = import_data('../raw_data/IMDb movies.csv')


print('----- keep columns -----')
df = keep_columns(df,
                  column_names=[
                      'imdb_title_id', 'title', 'year', 'date_published',
                      'genre', 'duration', 'country', 'director', 'writer',
                      'production_company', 'actors', 'budget',
                      'worlwide_gross_income'
                  ])

print('----- remove na rows -----')
df = remove_na_rows(df)

print('----- convert budget -----')
df['budget'] = convert_budget_column(df[['budget']], path="../raw_data/currencies.csv")

print('----- convert income column -----')
df['worlwide_gross_income'] = convert_income(df[['worlwide_gross_income']])

print('----- convert to int -----')
df['year'] = convert_to_int(df[['year']])
df['duration'] = convert_to_int(df[['duration']])

print('----- convert to date -----')
df['date_published'] = convert_to_date(df[['date_published']])

print('----- reduce column type -----')
df['actors_reduced'] = reduce_column_type(df[['actors']], nb_max=2)




print('----- log transform -----')
df['worlwide_gross_income'] = log_transformation(
    df[['worlwide_gross_income']])



#print('----- add_success_movies_per_actors -----')
#df = add_success_movies_per_actors(df)

print('----- data_shape -----')
df.head(2)

----- keep columns -----
----- remove na rows -----
----- convert budget -----
----- convert income column -----

TypeError: 'NoneType' object is not subscriptable

In [11]:
def reduce_column_type2(df, nb_max=5):
    # separate all types into list
    df_copy = df.copy()
    types_list = df_copy.iloc[:, 0].str.split(',')
    df_copy = [', '.join(types[:nb_max]) for types in types_list]
    return pd.DataFrame(df_copy)

In [14]:
df['reduced_actors'] = reduce_column_type2(df[['actors']], nb_max=2)
df[['reduced_actors','actors']]

,reduced_actors,actors
0,"Werner Krauss, Conrad Veidt","Werner Krauss, Conrad Veidt, Friedrich Feher, ..."
1,"Amund Rydland, Karen Poulsen","Amund Rydland, Karen Poulsen, Ragna Wettergree..."
2,"Pomeroy Cannon, Josef Swickard","Pomeroy Cannon, Josef Swickard, Bridgetta Clar..."
3,"Carl Miller, Edna Purviance","Carl Miller, Edna Purviance, Jackie Coogan, Ch..."
4,"Edna Purviance, Clarence Geldart","Edna Purviance, Clarence Geldart, Carl Miller,..."
...,...,...
12565,"Dileep, Anu Sithara","Dileep, Anu Sithara, Siddique, Suraj Venjaramo..."
12566,"Manesh Krishnan, Gopika Anil","Manesh Krishnan, Gopika Anil, Salim Kumar, Dev..."
12567,"Asyiela Putri Bt Azhar, Mohd Amir Asyraf Bin ...","Asyiela Putri Bt Azhar, Mohd Amir Asyraf Bin M..."
12568,"Karthi, Narain","Karthi, Narain, Ramana, George Maryan, Harish ..."
12569,"Nandu Anand, Roshan Ullas","Nandu Anand, Roshan Ullas, Manikandan R. Achar..."