## Import

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

from CinePred.data.importing import import_data
from CinePred.data.preprocessing import *
from CinePred.data.featuring import *

from cpi import *
import datetime

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
df = import_data('../raw_data/IMDb movies.csv')


print('----- keep columns -----')
df = keep_columns(df,
                  column_names=[
                      'imdb_title_id', 'title', 'year', 'date_published',
                      'genre', 'duration', 'country', 'director', 'writer',
                      'production_company', 'actors', 'budget',
                      'worlwide_gross_income'
                  ])

print('----- remove na rows -----')
df = remove_na_rows(df)

print('----- convert budget -----')
df['budget'] = convert_budget_column(df[['budget']], path="../raw_data/currencies.csv")

#print('----- reduce column type -----')
#df['actors'] = reduce_column_type(df[['actors']], nb_max=2)

print('----- convert income column -----')
df['worlwide_gross_income'] = convert_income(df[['worlwide_gross_income']])

print('----- convert to int -----')
df['year'] = convert_to_int(df[['year']])
df['duration'] = convert_to_int(df[['duration']])

print('----- convert to date -----')
df['date_published'] = convert_to_date(df[['date_published']])

print('----- reset index -----')
df = reset_index(df)

print('----- log transform -----')
df['worlwide_gross_income'] = log_transformation(
    df[['worlwide_gross_income']])

print('----- add_success_movies_per_actors -----')
df = add_success_movies_per_actors(df)

print('----- data_shape -----')
df.head()

----- keep columns -----
----- remove na rows -----
----- convert budget -----
----- convert income column -----
----- convert to int -----
----- convert to date -----
----- reset index -----
----- log transform -----
----- add_success_movies_per_actors -----
----- data_shape -----

,imdb_title_id,title,year,date_published,genre,duration,country,director,writer,production_company,actors,budget,worlwide_gross_income,totalsuccess
0,tt0010323,Il gabinetto del dottor Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, ...",18000,3.945025,0
1,tt0011440,Markens grøde,1921,1921-12-02,Drama,107,Norway,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen, Ragna Wettergree...",27887,3.630631,0
2,tt0012190,I quattro cavalieri dell'Apocalisse,1921,1923-04-16,"Drama, Romance, War",150,USA,Rex Ingram,"Vicente Blasco Ibáñez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard, Bridgetta Clar...",800000,6.963016,0
3,tt0012349,Il monello,1921,1923-11-26,"Comedy, Drama, Family",68,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Carl Miller, Edna Purviance, Jackie Coogan, Ch...",250000,4.430011,0
4,tt0014624,La donna di Parigi,1923,1927-06-06,"Drama, Romance",82,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Clarence Geldart, Carl Miller,...",351000,4.050496,0

In [31]:
def reduce_column_type2(df, nb_max=5):
    # separate all types into list
    types_list = df.iloc[:, 0].str.split(',')
    df = [', '.join(types[:nb_max]) for types in types_list]
    return pd.DataFrame(df)

In [34]:
df[['result']] = reduce_column_type2(df[['actors']], nb_max=1)
df[['actors','result']].head(2)

                                              actors         result
0  Werner Krauss, Conrad Veidt, Friedrich Feher, ...  Werner Krauss
1  Amund Rydland, Karen Poulsen, Ragna Wettergree...  Amund Rydland

In [ ]:
{

In [ ]:
print("\n----  FEATURING -----\n")
df = feature_example(df)

In [6]:
df[["year","budget"]].iloc[:,0]
from cpi import inflate
cpi.inflate

NameError: name 'cpi' is not defined

In [ ]:
def add_inflation_budget(df):
    df["year_2"] = df.iloc[:,0].apply(lambda x: 2018 if x > 2018 else x)
    return df.apply(
        lambda x: cpi.inflate(x[column_money], x["year_2"], axis=1))

add_inflation_budget(df[["year","budget"]])